In [379]:
#Import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#Import data
dataset = pd.read_csv('dataset2.csv')

#first five entries of the dataset 
dataset.head()
print(dataset)

#split the dataframe into dependent and independent variables. 
X = dataset.iloc[:, :-1].values 
Y = dataset.iloc[:,4].values

    Bathroom  Garage  Bedrooms  Age  Selling Price
0          1       1       4.0   42           25.9
1          1       2       4.0   62           29.5
2          1       1       3.0   40           27.9
3          1       1       3.0   54           25.9
4          1       1       3.0   42           29.9
5          1       1       3.0   56           29.9
6          1       1       3.0   51           30.0
7          1       0       3.0   32           28.9
8          3       2       5.0   42           84.9
9          3       2       5.0   14           82.9
10         1       2       3.0   32           35.9
11         1       1       NaN   30           31.5
12         1       1       2.0   30           31.0
13         1       2       3.0   32           30.9
14         1       0       2.0   46           30.0
15         1       0       3.0   32           28.9
16         2       2       4.0   50           36.9
17         2       2       3.0   22           41.9
18         2       1       3.0   17           40.5
19         1       1       NaN   23           43.9
20         1       2       3.0   40           37.5
21         2       1       3.0   22           37.9
22         2       2       4.0   50           44.5
23         2       1       3.0   44           37.9
24         2       2       NaN   48           38.9
25         1       2       3.0   30           36.9
26         2       1       4.0   31           45.8
27         3       2       3.0   30           41.0

In [380]:
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values=np.nan, strategy='mean') 
imputer = imputer.fit(X[:,2:3])
X[:,2:3] = imputer.transform(X[:,2:3])
pd.DataFrame(X)

      0    1     2     3
0   1.0  1.0  4.00  42.0
1   1.0  2.0  4.00  62.0
2   1.0  1.0  3.00  40.0
3   1.0  1.0  3.00  54.0
4   1.0  1.0  3.00  42.0
5   1.0  1.0  3.00  56.0
6   1.0  1.0  3.00  51.0
7   1.0  0.0  3.00  32.0
8   3.0  2.0  5.00  42.0
9   3.0  2.0  5.00  14.0
10  1.0  2.0  3.00  32.0
11  1.0  1.0  3.28  30.0
12  1.0  1.0  2.00  30.0
13  1.0  2.0  3.00  32.0
14  1.0  0.0  2.00  46.0
15  1.0  0.0  3.00  32.0
16  2.0  2.0  4.00  50.0
17  2.0  2.0  3.00  22.0
18  2.0  1.0  3.00  17.0
19  1.0  1.0  3.28  23.0
20  1.0  2.0  3.00  40.0
21  2.0  1.0  3.00  22.0
22  2.0  2.0  4.00  50.0
23  2.0  1.0  3.00  44.0
24  2.0  2.0  3.28  48.0
25  1.0  2.0  3.00  30.0
26  2.0  1.0  4.00  31.0
27  3.0  2.0  3.00  30.0

In [381]:
# splitting the dataset into training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)
pd.DataFrame(X_train)

      0    1     2     3
0   2.0  2.0  3.28  48.0
1   1.0  2.0  3.00  32.0
2   1.0  2.0  3.00  40.0
3   1.0  2.0  3.00  30.0
4   2.0  2.0  4.00  50.0
5   1.0  2.0  4.00  62.0
6   1.0  2.0  3.00  32.0
7   3.0  2.0  3.00  30.0
8   2.0  1.0  4.00  31.0
9   3.0  2.0  5.00  42.0
10  1.0  1.0  3.00  51.0
11  1.0  1.0  3.00  42.0
12  2.0  1.0  3.00  17.0
13  1.0  1.0  3.28  23.0
14  3.0  2.0  5.00  14.0
15  1.0  0.0  3.00  32.0
16  2.0  1.0  3.00  44.0
17  1.0  1.0  3.00  54.0
18  1.0  1.0  4.00  42.0
19  2.0  1.0  3.00  22.0
20  1.0  0.0  3.00  32.0
21  1.0  1.0  2.00  30.0

In [382]:
pd.DataFrame(Y_train)

       0
0   38.9
1   30.9
2   37.5
3   36.9
4   36.9
5   29.5
6   35.9
7   41.0
8   45.8
9   84.9
10  30.0
11  29.9
12  40.5
13  43.9
14  82.9
15  28.9
16  37.9
17  25.9
18  25.9
19  37.9
20  28.9
21  31.0

In [383]:
pd.DataFrame(X_test)

     0    1     2     3
0  1.0  1.0  3.00  40.0
1  2.0  2.0  4.00  50.0
2  1.0  0.0  2.00  46.0
3  2.0  2.0  3.00  22.0
4  1.0  1.0  3.00  56.0
5  1.0  1.0  3.28  30.0

In [384]:
pd.DataFrame(Y_test)

      0
0  27.9
1  44.5
2  30.0
3  41.9
4  29.9
5  31.5

In [385]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
pd.DataFrame(X_train)

           0         1         2         3
0   0.629941  0.989949 -0.091856  0.971371
1  -0.755929  0.989949 -0.496022 -0.364264
2  -0.755929  0.989949 -0.496022  0.303553
3  -0.755929  0.989949 -0.496022 -0.531218
4   0.629941  0.989949  0.947428  1.138325
5  -0.755929  0.989949  0.947428  2.140051
6  -0.755929  0.989949 -0.496022 -0.364264
7   2.015811  0.989949 -0.496022 -0.531218
8   0.629941 -0.565685  0.947428 -0.447741
9   2.015811  0.989949  2.390878  0.470508
10 -0.755929 -0.565685 -0.496022  1.221802
11 -0.755929 -0.565685 -0.496022  0.470508
12  0.629941 -0.565685 -0.496022 -1.616422
13 -0.755929 -0.565685 -0.091856 -1.115559
14  2.015811  0.989949  2.390878 -1.866853
15 -0.755929 -2.121320 -0.496022 -0.364264
16  0.629941 -0.565685 -0.496022  0.637462
17 -0.755929 -0.565685 -0.496022  1.472234
18 -0.755929 -0.565685  0.947428  0.470508
19  0.629941 -0.565685 -0.496022 -1.199036
20 -0.755929 -2.121320 -0.496022 -0.364264
21 -0.755929 -0.565685 -1.939472 -0.531218

In [386]:
pd.DataFrame(X_test)

          0         1         2         3
0 -0.755929 -0.565685 -0.496022  0.303553
1  0.629941  0.989949  0.947428  1.138325
2 -0.755929 -2.121320 -1.939472  0.804417
3  0.629941  0.989949 -0.496022 -1.199036
4 -0.755929 -0.565685 -0.496022  1.639188
5 -0.755929 -0.565685 -0.091856 -0.531218

In [387]:
#training Model
from sklearn.linear_model import LinearRegression 
lm = LinearRegression() 
lm.fit(X_train, Y_train) 
pred = lm.predict(X_test)
pd.DataFrame(Y_test,pred)

              0
28.748331  27.9
46.428042  44.5
12.151172  30.0
46.297992  41.9
22.427390  29.9
35.832594  31.5

In [388]:
import statsmodels.api as sm 
# add a column of ones as integer data type 
X = np.append(arr = np.ones((28, 1)).astype(int),  
              values = X, axis = 1) 
# choose a Significance level usually 0.05, if p>0.05 
#  for the highest values parameter, remove that value 
X_opt = X[:, [0, 1, 2, 3] ]
ols = sm.OLS(endog = Y, exog = X_opt).fit() 
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.723
Model:                            OLS   Adj. R-squared:                  0.689
Method:                 Least Squares   F-statistic:                     20.93
Date:                Thu, 02 Apr 2020   Prob (F-statistic):           6.96e-07
Time:                        00:16:43   Log-Likelihood:                -95.468
No. Observations:                  28   AIC:                             198.9
Df Residuals:                      24   BIC:                             204.3
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -5.7376      7.395     -0.776      0.445     -21.001       9.526
x1            11.3571      2.742      4.142      0.000       5.699      17.016
x2             0.1226      2.637      0.047      0.963      -5.320       5.565
x3             8.1296      2.768      2.937      0.007       2.416      13.843
==============================================================================
Omnibus:                        0.520   Durbin-Watson:                   1.134
Prob(Omnibus):                  0.771   Jarque-Bera (JB):                0.564
Skew:                           0.284   Prob(JB):                        0.754
Kurtosis:                       2.598   Cond. No.                         21.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [389]:
X_opt = X[:, [0, 1, 3] ]
ols = sm.OLS(endog = Y, exog = X_opt).fit() 
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.723
Model:                            OLS   Adj. R-squared:                  0.701
Method:                 Least Squares   F-statistic:                     32.69
Date:                Thu, 02 Apr 2020   Prob (F-statistic):           1.05e-07
Time:                        00:17:00   Log-Likelihood:                -95.469
No. Observations:                  28   AIC:                             196.9
Df Residuals:                      25   BIC:                             200.9
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -5.7423      7.246     -0.793      0.436     -20.665       9.180
x1            11.3882      2.605      4.372      0.000       6.023      16.753
x2             8.1661      2.601      3.140      0.004       2.810      13.523
==============================================================================
Omnibus:                        0.531   Durbin-Watson:                   1.135
Prob(Omnibus):                  0.767   Jarque-Bera (JB):                0.581
Skew:                           0.285   Prob(JB):                        0.748
Kurtosis:                       2.585   Cond. No.                         19.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [390]:
X_opt = X[:, [1, 3] ]
ols = sm.OLS(endog = Y, exog = X_opt).fit() 
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.967
Model:                            OLS   Adj. R-squared (uncentered):              0.964
Method:                 Least Squares   F-statistic:                              376.8
Date:                Thu, 02 Apr 2020   Prob (F-statistic):                    6.31e-20
Time:                        00:17:13   Log-Likelihood:                         -95.817
No. Observations:                  28   AIC:                                      195.6
Df Residuals:                      26   BIC:                                      198.3
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            11.6490      2.565      4.541      0.000       6.376      16.922
x2             6.3677      1.262      5.047      0.000       3.774       8.961
==============================================================================
Omnibus:                        3.288   Durbin-Watson:                   1.089
Prob(Omnibus):                  0.193   Jarque-Bera (JB):                2.102
Skew:                           0.657   Prob(JB):                        0.350
Kurtosis:                       3.274   Cond. No.                         7.20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""